<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">
  <app-input
    [control]="getControl('username')"
    label="Username"
    inputType="text"
  ></app-input>
  <app-input
    [control]="getControl('password')"
    label="Password"
    inputType="password"
  ></app-input>
  <app-input
    [control]="getControl('passwordConfirmation')"
    label="Confirm Password"
    inputType="password"
  ></app-input>

  <div
    *ngIf="
      getControl('password').touched &&
      getControl('passwordConfirmation').touched &&
      authForm.errors
    "
    class="ui pointing red basic label"
  >
    <p *ngIf="authForm.errors!['passwordsDontMatch']">Passwords don't match</p>
    <p *ngIf="authForm.errors!['noConnection']">No Internet connection</p>
    <p *ngIf="authForm.errors!['unknownError']">Unknown error</p>
  </div>

  <div>
    <button class="ui submit button primary">Submit</button>
  </div>

  {{ authForm.errors | json }}
</form>
